<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Langoon', root_path %></li>
        <li><%= link_to 'このサイトについて', top_about_path %> </li>
        <li><%= link_to '学習コンテンツ', languagenames_contents_path %></li>
        <li><%= link_to '会員登録', new_member_registration_path %></li>
        <li><%= link_to '会員ログイン', member_session_path %></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</nav>

<div class="col-sm-8 text-left">
  <div class="image-background-3">
    <font  size="７" color="black">Langoon</font>
    <br>
    <font  size="５" color="black">いつか大海へ漕ぎ出すあなたのために。</font>
     <br> <br> <br>

    <font  size="５" color="black">できること</font>
    <br>
    <font  size="５" color="black">①完全無料で言語の学習ができる！</font>
    <br>
    <font  size="５" color="black">②会員登録することで言語の保存・公開ができる！</font>
    <br><br>

    <font  size="５" color="black">このサイトの目的</font>
    <br>
    <font  size="５" color="black">①言語に関するコンテンツを無料公開することにより、</font>
    <br>
    <font  size="５" color="black">&emsp;言語習得の敷居を低くし、あらゆる人間の選択肢を増やすこと。</font>
    <br>
    <font  size="５" color="black">②消えゆく可能性のある言語を記録することにより、</font>
    <br>
    <font  size="５" color="black">&emsp;その文化的価値を半永久的に保存すると共にアクセス可能にすること。</font>
    <br>
    <font  size="５" color="black">③新たに生み出された言語を記録することにより、</font>
    <br>
    <font  size="５" color="black">&emsp;多くの人にその存在を認知・活用してもらうこと。</font>
    <br><br>

    <font  size="５" color="black">このサイトでの「言語」の定義</font>
    <br>
    <font  size="５" color="black">このサイトでは、人間の使う「自然言語」と、「コンピュータ言語」を</font>
    <br>
    <font  size="５" color="black">「言語」として定義しています。</font>
    <br><br>

    <font  size="５" color="black">お問い合わせ</font>
    <br>
    <font  size="５" color="black">langoonoognal＠gmail.com</font>
    <br>
    <font  size="５" color="black">※新たな言語を登録したい場合,退会等はこちらにご連絡ください。</font>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <font  size="５" color="black">下の再生ボタンを押すと音楽が流れます。(左から①波の音②noapusa/MIO③where you are/KEI)
    </font>
    <br><br>
    <font  size="５" color="white"><%= audio_tag 'wave1.mp3', controls: true %></font>
    <font  size="５" color="white"><%= audio_tag 'song_mio_noapusa.mp3', controls: true %></font>
    <font  size="５" color="white"><%= audio_tag 'song_kei_where_you_are.mp3', controls: true %></font>
    <br>


  </div>
</div>
</div>
</div>





