
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Langoon', root_path %></li>
        <li><%= link_to 'このサイトについて', top_about_path %> </li>
        <li><%= link_to 'マイページ', member_path(current_member.id) %> </li>
        <li><%= link_to '学習コンテンツ', languagenames_contents_path %></li>
        <li><%= link_to 'コンテンツ投稿', new_post_path %></li>
        <li><%= link_to '会員ログアウト', destroy_member_session_path, method: :delete %></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</nav>







<div class="col-sm-8 text-left">
  <div class="image-background-2">
    <font  size="７" color="white">Langoon</font>
    <br>
    <font  size="５" color="white">いつか大海へ漕ぎ出すあなたのために。</font>
     <br> <br> <br>
    <font  size="５" color="white">言語の浅瀬、Langoonへお帰りなさい。</font>
    <br>
    <font  size="５" color="white">どうぞごゆっくり。</font>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <font  size="５" color="black">下の再生ボタンを押すと音楽が流れます。(左から①波の音②noapusa/MIO③where you are/KEI)
    </font>
    <br><br>
    <font  size="５" color="white"><%= audio_tag 'wave1.mp3', controls: true %></font>
    <font  size="５" color="white"><%= audio_tag 'song_mio_noapusa.mp3', controls: true %></font>
    <font  size="５" color="white"><%= audio_tag 'song_kei_where_you_are.mp3', controls: true %></font>
    <br>
    <font  size="５" color="white"></font>
  </div>
</div>
</div>
</div>





